body {
    background: #e9a33a url(https://wallpaperaccess.com/full/1155097.png) fixed; 
    background-size: 1530px auto;
    color: #381919;
     font-family: Arial Black;
}
    h1, h2 { 
        text-align: center; 
    }
    #header{
        width: 100%;
        height: 100px;    
        background-color: #ec882b;  
        margin:0 auto;
        float:center;
    }
    .virav{
        width:980px;
        margin:0 auto;
    }
    #forma{
        margin: auto;
    }
    #img{ 
         width:100px;
         padding-top:10px;
         margin:0 auto;
         height:80px;
         float:left;
        }

    .t{
        float:left;
        padding:10px; 
        color: #3d0d49;  
        font-style: italic;  
        font-size:30px;  
    }
    .textt{
        padding:10px; 
        color: #410e4e;  
        font-style: italic;  
        font-size:30px;  
    }
    .content{
        max-width:960px; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px;
    }
    #navigacia{
        max-width:960px; 
        background-color: #f59d4b; 
        margin: 0 auto; 
        padding:10px; 
        text-align: center;
    }
    table tr:nth-child(2n) td{ 
        background: #eeeb55; 
    }
    table tr:nth-child(2n+1) td{ 
        background:#b45312;
     }
     table{
        margin: 0 auto; 
     }
     
    footer{
        width: 100%;
        height: 40px;    
        background-color: #ec882b;  
        margin:0 auto;
        text-align: center;
        color: #381919;  
        font-size:15px;  
    }

